.dashboard-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    padding: 60px;
    box-sizing: border-box;
    width: 100%;
    max-width: 40rem ;
    background-color: rgba(0, 0, 0, 0.858);
    
    border-radius: 5px;
}
.logout-btn{
    grid-column: span 2;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.actions{
    display: grid;
    gap: 11px;
    grid-template-columns: repeat(2,1fr);
    
}
.actions button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    
}
h1{
    color: white;
    text-shadow: 4px 4px 4px  black;
}
.delete-btn{
    background-color: rgb(146, 40, 40);
    color: white;
}

.page{
    max-width: 50rem;
    margin: 0 auto;
    padding: 20px;
    
    
}
.product-card{
    
    background-color: rgb(223, 221, 221);
    
    color: black;
    border-radius: 10px;
    padding:20px;
    margin-bottom: 20px;
    transition: 
      transform 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
    
}
.product-card:hover{
    box-shadow: -0.3px 1px 3px 1px rgb(200, 200, 200);
    transform: scale(1.01);
    
    
}
.add-btn{
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(181, 198, 198);
    
    font-size: 1.1rem;
}
.add-btn:hover{
    border: solid black 2px;
    
    
}
.login-btn,.update-btn{
    background-color: rgb(203, 203, 80) ;
    font-weight: 700;
    
}
.login-btn{
font-size: 1.1rem;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.642);
    padding: 20px;
}
header nav{
    text-decoration: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;

}
header nav div,.nav-link {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 50px;
    
}
.logout-btn,.dashboard-products{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
}
.logout-btn{
    background-color: rgb(146, 40, 40);
    color: white;
}
.dashboard-products{
    background-color: rgb(181, 198, 198);
}
.error{
    color: red;
    grid-column: 1/-1;
}
header nav .logout,.nav-link{
    cursor: pointer;
}

@media (max-width: 767px) {
    .dashboard-container{
        max-width: 20rem;
        padding: 20px;
        top: 56%;
    }
}
@media (max-width: 328px) {
    .update-btn,.delete-btn{
        font-size: 0.7rem;
    }
}