:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)),
    url("./assets/backGround.jpg");

  background-color: rgb(98, 129, 129);
  
  
}
html,body{
  margin: 0;
  min-height: 100vh;
}
form{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 11px;
  padding: 60px;
  box-sizing: border-box;
  width: 100%;
  max-width: 40rem ;
  background-color: rgba(0, 0, 0, 0.858);
  
  border-radius: 5px;
}
form label{
  font-size: 1.3rem;
  color: white;
  
}

form h1,form button,form a{
  grid-column: 1/-1;
}

form input , form button{
  padding:10px;
  border-radius: 5px;
  
  align-items: center;
}
form  button{
    width: 100%;
    border: none;
    border-radius: 3px;
  }
.state-message{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -160%);
  font-size: 2rem;
  font-weight: 800;
  color: #ffffff;
}
.submit{
  background-color: rgb(203, 203, 80) ;
  color: black;
  font-weight: 700;
  
}
button{
  transition: transform 0.3s ease-in-out;
}
button:hover{
  
  
  transform: scale(1.01);
  cursor: pointer;
}
.success {
  grid-column: 1/-1;
  text-align: center;
  color: green;
  
  font-weight: 700;
}
legend{
  color: rgb(203, 203, 80);
}
fieldset{
  border-radius: 5px;
  border: solid rgb(203, 203, 80) ;
  
}
form input{
  width: 100%;
  box-sizing: border-box;
  
  
}
.password-input,.email-input{
  background: none;
  border: none;
  color: white;
}

@media (max-width: 768px) {
  form{
    grid-template-columns: 1fr;
    max-width: 20rem;
    
    
    padding: 20px;
    top: 56%;
  }
 
  header nav .logout,.nav-link{
    justify-content: space-evenly;
    font-size: 0.875rem;
    font-weight: 500;
    
  }
 
  
  
.nav-link{
  font-size: 0.875rem;
}

  
}